# OpenAI API configuration (Optional)
ENABLE_OPENAI_API=true
OPENAI_API_BASE_URL=https://openai.com/api/v1
OPENAI_API_KEY=your_openai_api_key
# OPENAI_API_BASE_URLS=http://host-one:11434;http://host-two:11434
OPENAI_API_BASE_URLS=
# OPENAI_API_KEYS=sk-124781258123;sk-4389759834759834
OPENAI_API_KEYS=

TASK_MODEL_EXTERNAL=deepseek/deepseek-chat-v3-0324:free