# Ollama API configuration (Optional)
ENABLE_OLLAMA_API=true
USE_OLLAMA_DOCKER=false
OLLAMA_BASE_URL=http://localhost:11434
# OLLAMA_BASE_URLS=http://host-one:11434;http://host-two:11434
OLLAMA_BASE_URLS=

TASK_MODEL=llama3