# PostgreSQL (Optional)
COMPOSE_FILE=docker-compose.yml:docker-compose.db.yml

DATABASE_TYPE=postgresql
DATABASE_HOST=open-webui-postgres
DATABASE_PORT=5432
DATABASE_NAME=open-webui
DATABASE_USER=open-webui
DATABASE_PASSWORD=zs2IKbgNcXPOO251Fmber9AtdxN8F4SV